/* bbs内で使うスタイル */
.bbs .top_area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; }
.bbs .header {
  background-color: #D1F1CC;
  height: 150px;
  width: 100%; }
  .bbs .header .title {
    color: #3261AB;
    padding-top: 50px; }
  .bbs .header p {
    margin-top: 20px;
    color: #8BA7D5; }
  .bbs .header a {
    color: #8BA7D5; }
    .bbs .header a:hover {
      cursor: pointer;
      text-decoration: none; }
.bbs .input {
  background-color: #F8FAD4;
  height: 300px;
  width: 100%; }
  .bbs .input .input_inner {
    margin-left: auto;
    margin-right: auto;
    padding: 25px 0;
    width: 300px; }
  .bbs .input .input_button {
    margin-left: auto;
    margin-right: auto;
    width: 140px; }
.bbs .list {
  padding-top: 450px;
  padding-bottom: 50px; }
  .bbs .list .article {
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0 10px;
    width: 460px; }
    .bbs .list .article .article_over {
      padding: 10px; }
    .bbs .list .article .article_under {
      padding: 10px 20px; }
    .bbs .list .article .name, .bbs .list .article .date, .bbs .list .article .time {
      margin-left: 5px; }

.management .header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #C9E8F1;
  height: 150px;
  width: 100%; }
  .management .header .title {
    color: #3261AB;
    padding-top: 30px; }
  .management .header .btn_area {
    padding-top: 20px;
    width: 220px;
    margin-left: auto;
    margin-right: auto; }
.management .list {
  padding-top: 150px;
  padding-bottom: 50px; }
  .management .list .article {
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0 30px;
    width: 460px;
    margin-bottom: 10px; }
    .management .list .article .article_over {
      padding: 10px; }
    .management .list .article .article_under {
      padding: 10px 20px; }
    .management .list .article .name, .management .list .article .date, .management .list .article .time {
      margin-left: 5px; }
    .management .list .article .article_btns {
      clear: left;
      height: 33px; }
      .management .list .article .article_btns .edit {
        float: left;
        width: 220px; }
      .management .list .article .article_btns .delete {
        float: right;
        margin-left: 20px;
        width: 220px; }
    .management .list .article .edit_area, .management .list .article .delete_area {
      margin-top: 20px; }

/* 全体に使うスタイル */
.contents {
  width: 960px;
  margin-left: auto;
  margin-right: auto; }

h1 {
  margin: 0;
  font-family: 'Hiragino Maru Gothic Pro'; }

.text_center {
  text-align: center; }

.text_right {
  text-align: right; }

@font-face {
  font-family: TitleFont;
  src: url("../fonts/ComicNeue-Angular-Light-Oblique.ttf") format("truetype"); }

.title {
  font-family: TitleFont; }
