/* bbs内で使うスタイル */
.bbs{
	.top_area{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
	}

	.header{
		background-color: #D1F1CC;
		height: 150px;
		width: 100%;

		.title{
			color: #3261AB;
			padding-top: 50px;
		}

		p{
			margin-top: 20px;
			color: #8BA7D5;
		}

		a{
			color: #8BA7D5;

			&:hover{
				cursor: pointer;
				text-decoration: none;
			}
		}
	}

	.input{
		background-color: #F8FAD4;
		height: 300px;
		width: 100%;

		.input_inner{
			margin-left: auto;
			margin-right: auto;
			padding: 25px 0;
			width: 300px;
		}

		.input_button{
			margin-left: auto;
			margin-right: auto;
			width: 140px;
		}
	}

	.list{
		padding-top: 450px;
		padding-bottom: 50px;

		.article{
			margin-left: auto;
			margin-right: auto;
			padding: 20px 0 10px;
			width: 460px;

			.article_over{
				padding: 10px;
			}

			.article_under{
				padding: 10px 20px;
			}

			.name, .date, .time{
				margin-left: 5px;
			}
		}
	}
}